---
import { SITE } from "../config";
const navItems = [
  {
    title: 'Get Started with Firmeasy',
    description: 'Learn the foundational elements for setting up secure digital signatures and document workflows.',
    url: '/core/introduction',
    img: '/public/sup/document.png'
  },

  {
		title: 'Main Page',
		description: 'Visit Firmeasy main page',
		url: 'https://firmeasy.legal/' ,
		img: '/public/sup/logo.webp'
	}
]
---

<div class="bg-slate-50 min-h-screen text-center">
	<header class="pt-12 pb-24 px-4 bg-gradient-to-br from-slate-800 to-gray-900">
		<div class="flex items-center justify-center p-4">
			<img src="/public/sup/logo_dark.webp" alt="Firmeasy Documentation Logo" class="w-45 h-45">
		</div>
		<h1 class="text-white text-5xl font-semibold drop-shadow-lg">{SITE.title}</h1>
		<p class="text-lg mt-4 text-slate-300 max-w-lg mx-auto">{SITE.description}</p>
	</header>

	<nav class="mt-12">
		<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto px-4">
			{
			  navItems.map(({ title, description, url, img }) => (
				<li class="shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 ease-out">
				  <a href={url} class="flex flex-col items-center bg-white">
					<div class="w-full h-40 flex justify-center items-center bg-gray-100">
					  <img src={img} alt={title} class="max-h-32 object-contain" />
					</div>
					<div class="p-6 text-center">
					  <h2 class="text-xl font-semibold text-slate-800 mb-2">{title}</h2>
					  <p class="text-slate-600 text-sm">{description}</p>
					</div>
				  </a>
				</li>
			  ))
			}
		  </ul>
	</nav>
</div>

<script is:inline>
</script>
